<div class="card">
  <a [routerLink]="product.id" class="card__image" style="background-image: url({{product.images[0]}});">
  </a>
  <div class="card__description">
    {{product.description}}
  </div>
  <div class="card__stars stars">
    <div class="stars__body">
      <div #starsActive class="stars__active"></div>
    </div>
    <div class="stars__value">{{productGrade.toFixed(2)}}</div>
  </div>
  <div class="card__row">
    <div class="card__price">{{product.price}} &#8372;</div>
    <div (click)="onAddToBasket()" class="card__buy">купить</div>
  </div>
</div>