@import "../scss/mixins.scss";
@import "../scss/variables.scss";

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  @include flex-center;
}
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  @extend .spinner;
}
.form {
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3) inset;
  & form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & input {
    width: 90%;
    line-height: 36px;
    margin: 0px 0px 15px 0px;
    padding: 0px 15px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: $bg-color;
    border-radius: $border-radius;
  }
}
.buttons {
  & button {
    margin: 0px 20px;
    width: 100px;
    height: 36px;
    padding: 5px 10px;
    border-radius: $border-radius;
    background-color: $main-color;
    font-size: 18px;
    transition: 0.2s;
    position: relative;
    box-shadow: 2px 2px 2px #000;
    &:active {
      top: 1px;
      left: 1px;
      box-shadow: 1px 1px 3px #000;
    }
  }
}
