@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.info {
  &__container {
    width: 100%;
  }
  &__row {
    display: flex;
    width: 100%;
  }
  &__left {
    flex: 0 1 calc(60% - 30px);
    margin: 0px 20px 0px 0px;
  }
  &__name {
    font-weight: 700;
    font-size: 26px;
    margin: 0px 10px 15px;
  }
  &__image {
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin: 0px 0px 10px 0px;
  }
  &__description {
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0px 5px;
  }
  &__right {
    flex: 1 1 40%;
    width: 40%;
    overflow: hidden;
    position: fixed;
    right: 10px;
  }
  &__basket {
    display: flex;
    align-items: center;
    position: relative;
    & span {
      position: absolute;
      top: 110%;
      left: 0;
      color: red;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      padding: 5px 10px;
      z-index: 111;
      &.active {
        animation: alreadyInBasket 2s;
      }
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 0px 10px 0px;
  }
  &__comments {
    padding: 10px 10px 10px 0;
    margin: 12px 0px 0px 0px;
    height: calc(100vh - 265px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgb(228, 228, 228);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(112, 112, 112);
      border-radius: $border-radius;
    }
  }
  &__price {
    font-size: 28px;
    color: red;
    margin: 0px 20px 0px 0px;
  }
  &__buy {
    width: 80px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    border-radius: $border-radius;
    background-color: $main-color;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    &:hover {
      box-shadow: 0 0 5px inset #ff8800, 0 0 10px inset #ff8800;
    }
    &:active {
      background-color: #ff8800;
    }
  }
}

.stars {
  &__container {
    display: flex;
    align-items: center;
  }
  &__body {
    position: relative;
    font-size: 26px;
    &:before {
      content: "★★★★★";
      display: block;
      color: rgb(167, 167, 167);
    }
  }
  &__active {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &:before {
      content: "★★★★★";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      color: #ff8800;
    }
  }
  &__value {
    margin: 0px 0px 0px 15px;
    font-size: 13px;
  }
}
.rating {
  margin: 10px 0px 0px 0px;
  position: relative;
  width: 100%;
  &__btn {
    width: auto;
    line-height: 30px;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: $border-radius;
    background-color: rgb(0, 153, 224);
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 5px inset rgb(0, 8, 126), 0 0 10px inset rgb(0, 8, 126);
    }
  }
  &__authorization {
    position: absolute;
    color: red;
    bottom: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding: 5px 10px;
    &.active {
      animation: alreadyInBasket 2s;
    }
  }
  &__container {
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
    width: 100%;
    height: 342px;
    top: 30px;
    left: 0;
    right: 0;
    transform: translate(-100%, -100%);
    opacity: 0;
    visibility: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    &.open {
      transform: translate(0, -100%);
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes alreadyInBasket {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  60% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
