.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 200px);
  margin-left: auto;
}
.product {
  &-filter {
    position: fixed;
    width: 200px;
    height: calc(100% - 90px);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    left: 0;
    padding: 10px;
  }
  &-card {
    flex: 0 0 25%;
  }
  &-empty {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    margin: 50px auto 0px;
  }
}
