.basket {
  display: flex;
  padding: 10px 0px;
  &-cards {
    flex: 0 0 60%;
    height: calc(100vh - 100px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgb(214, 214, 214);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(107, 107, 107);
    }
  }
  &-card {
    margin: 0px 0px 10px 0px;
  }
}
.basket-order {
  flex: 0 0 40%;
  height: calc(100vh - 100px);
  overflow: auto;
  text-align: center;
  padding: 10px;
  margin: 0px 0px 0px 2px;
}
