@import "../../scss/variables.scss";

.order {
  width: 80%;
  height: 80%;
  margin: 70px 0px 0px 0px;
  background-color: #fff;
  border-radius: 2px;
  animation: entering 1s;
  @media (max-width: 767px) {
    width: calc(100% - 20px);
  }
  &-info {
    width: 100%;
    height: calc(100% - 140px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 0px 10px 0px;
    @media (max-width: 767px) {
      height: calc(100% - 170px);
    }
    @media (max-width: 360px) {
      height: calc(100% - 220px);
    }
  }
  & p {
    display: block;
    text-align: center;
    color: rgb(0, 100, 22);
    font-size: 32px;
    &:nth-child(3) {
      color: rgb(82, 82, 82);
      font-size: 20px;
    }
    @media (max-width: 850px) {
      font-size: 26px;
      &:nth-child(3) {
        font-size: 18px;
      }
    }
  }
  &-btn {
    margin: 20px 0px 0px 0px;
    text-align: center;
    & button {
      font-size: 20px;
      padding: 5px 15px;
      border-radius: $border-radius;
      background-color: $main-color;
      transition: 0.2s;
      user-select: none;
      &:hover {
        box-shadow: 0 0 5px inset #ff8800, 0 0 10px inset #ff8800;
      }
      &:active {
        background-color: #ff8800;
      }
    }
  }
}
@keyframes entering {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
