<div class="slider__container">
  <div class="slider__slide" [ngClass]="hideLeft ? 'hideLeft' : ''" [ngClass]="hideRight ? 'hideRight' : ''">
    <div (click)="onLeft()" class="slider__left">&#9668;</div>

    <!-- <div style="background-image: url({{slides[previos]}});" class="slider__previos"></div> -->
    <div style="background-image: url({{slides[active]}});" class="slider__image"></div>
    <!-- <div style="background-image: url({{slides[next]}});" class="slider__next"></div> -->

    <div (click)="onRight()" class="slider__right">&#9658;</div>
  </div>
  <div class="slider__nav">
    <div *ngFor="let slide of slides; let i = index" (click)="onNavClick(i)" [ngClass]="active === i ? 'active' : ''"
      style="background-image: url({{slide}});" class="slider__nav-img">
    </div>
  </div>
</div>