.slider {
  &__container {
    width: 100%;
    height: 400px;
  }
  &__slide {
    display: flex;
    width: 100%;
    height: 80%;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
    position: relative;
    // &.hideLeft {
    //   .slider__image {
    //     transition: 1s;
    //     transform: translateX(-100%);
    //   }
    //   .slider__next {
    //     transform: translateX(0);
    //   }
    // }
  }
  // &__previos,
  // &__next {
  //   transition: 1s;
  //   position: absolute;
  //   flex: 1 1 auto;
  //   width: 100%;
  //   height: 100%;
  //   background-position: 50%;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   margin: 0px 0px 10px 0px;
  // }
  // &__next {
  //   transform: translateX(100%);
  // }
  // &__previos {
  //   transform: translateX(-100%);
  // }
  &__image {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
  }
  &__left,
  &__right {
    user-select: none;
    cursor: pointer;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-size: 22px;
    background-color: #fff;
    color: rgb(80, 80, 80);
    z-index: 2;
    &:hover {
      color: rgb(0, 100, 22);
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
  }
  &__nav-img {
    cursor: pointer;
    width: 100px;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 10px;
    border-radius: 2px;
    &.active {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
  }
}
