<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment__container rating">
  <div class="rating__container">
    <span class="your-rating">Ваша оценка:</span>
    <div starsDirective class="rating__body">
      <div #starsActive class="rating__active"></div>
      <div class="rating__items">
        <input formControlName="rating" type="radio" class="rating__item" name="rating" value="1">
        <input formControlName="rating" type="radio" class="rating__item" name="rating" value="2">
        <input formControlName="rating" type="radio" class="rating__item" name="rating" value="3">
        <input formControlName="rating" type="radio" class="rating__item" name="rating" value="4">
        <input formControlName="rating" type="radio" class="rating__item" name="rating" value="5">
      </div>
    </div>
  </div>
  <div class="form__inputs">
    <label for="name">Ваше имя:</label>
    <input type="text" formControlName="name" id="name">
    <label for="text">Ваш комментарий:</label>
    <textarea formControlName="text" id="text"></textarea>
  </div>
  <div class="form__buttons">
    <button type="button" (click)="onCancel()">Отменить</button>
    <button [disabled]="commentForm.invalid">Отправить</button>
  </div>
</form>