<div class="card">
  <a class="card__image" style="background-image: url({{product.images[0]}});">
  </a>
  <div class="card__description">
    {{product.description}}
  </div>
  <div class="card__stars stars">
    <div class="stars__body">
      <div #starsActive class="stars__active"></div>
      <!-- <div class="stars__items">
        <input type="radio" class="stars__item" name="stars" value="1">
        <input type="radio" class="stars__item" name="stars" value="2">
        <input type="radio" class="stars__item" name="stars" value="3">
        <input type="radio" class="stars__item" name="stars" value="4">
        <input type="radio" class="stars__item" name="stars" value="5">
      </div> -->
    </div>
    <div #starsValue class="stars__value">{{product.stars}}</div>
  </div>
  <div class="card__row">
    <div class="card__price">{{product.price}} &#8372;</div>
    <div class="card__buy">купить</div>
  </div>
</div>